head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
}
body {
  background-color: black;
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure the body takes the full height of the viewport */
}

.h1 {
  text-align:center;
  color: white; /* Add a text color, as an example */
}
